NODE_ENV=development
PORT=3000

POSTGRES_USER=lippaus
POSTGRES_PASSWORD=lippaus
POSTGRES_DB=lippaus

DATABASE_URL="postgresql://lippaus:lippaus@localhost:5432/lippaus?schema=public"

S3_ENDPOINT="http://localhost:9000"
S3_REGION="us-east-1"
S3_BUCKET="lippaus-produtos"
S3_ACCESS_KEY_ID="lippaus"
S3_SECRET_ACCESS_KEY="lippaus-secret"
S3_FORCE_PATH_STYLE=true

JWT_SECRET="change-me"
JWT_EXPIRES_IN="1d"
